parameters:
	ignoreErrors:
		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: app/Http/Controllers/RestaurantController.php

		-
			message: '#^Strict comparison using \!\=\= between array\{lat\: float, lng\: float\} and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: app/Http/Controllers/RestaurantController.php

